<div ng-controller="AlbumCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Collection</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="..\"> Home </a>
                </li>
                <li class="active">
                    <strong>{{$state.$current.data.pageTitle}}</strong>
                </li>
            </ol>
        </div>
    </div>

    <form class="m-t" role="form" ng-submit="updateAlbum($sessionStorage.albumCatalog)">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idAlbumName">Name:</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idAlbumName" type="text" name="input" required=""
                       ng-model="$sessionStorage.albumCatalog.album.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idAlbumDescription">Description :</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idAlbumDescription" type="text" name="input" required=""
                       ng-model="$sessionStorage.albumCatalog.album.description">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idAlbumCatalog">Catalogue :</label>
            <div class="col-sm-6">
                <select id="idAlbumCatalog" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" data-container="body" data-size="6" ng-required="true">
                    <option ng-model="$sessionStorage.albumCatalog.album.catalogId" ng-repeat="col in $sessionStorage.iCols">{{col.name}}</option>
                </select><!-- End -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="idAlbumDates">Timespan:</label>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input id="idAlbumDates" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtStart" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input id="idAlbumDates" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtEnd" is-open="popupEnd.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="idAlbumRanges">Ranges:</label>
                    <div class="col-lg-6">
                        <!-- Multiselect dropdown -->
                        <select multiple id="idAlbumRanges" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="jsonRanges" data-container="body" data-size="6" data-selected-text-format="count>2" data-actions-box="true" ng-required="true">
                            <option ng-repeat="range in $localStorage.lookups.rangeGroup">{{range.key}}</option>
                        </select><!-- End -->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="idAlbumTypes">Types:</label>
                    <div class="col-lg-6">
                        <!-- Multiselect dropdown -->
                        <select multiple id="idAlbumTypes" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="jsonSetTypes" data-container="body" data-size="6" data-selected-text-format="count>2" data-actions-box="true" ng-required="true">
                            <option ng-repeat="type in $localStorage.lookups.typeGroup">{{type.key}}</option>
                        </select><!-- End -->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="idAlbumViews">Default View:</label>
                    <div class="col-lg-6">
                        <select id="idAlbumViews" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="item.Catalogs">
                            <option>Details</option>
                            <option>Tiles</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--<a ng-repeat="error in errors" style="color:red">* {{error.description}}</a>-->

        <button type="submit" class="btn btn-primary dim">
            <span ng-show="spinUpdateAlbum == 'Saving'">
                <i class="glyphicon glyphicon-refresh spinning"></i>
            </span>
            <span ng-show="spinUpdateAlbum != 'Saving'">
                <i class="glyphicon glyphicon-save"></i>
            </span>
            {{ spinUpdateAlbum }}
        </button>

        <button style="float:right" id="favBtn" ng-click="RemoveAlbum($sessionStorage.albumCatalog);" class="btn btn-danger dim" type="button" tooltip-placement="bottom" uib-tooltip="Delete Album">
            <i id="favIcon" class="fa fa-trash"></i>
            Remove
        </button>
    </form>
    <p class="m-t"> <small>CC &copy; 2020</small> </p>

</div>








