<div ng-controller="CatalogCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Catalog</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="..\"> Home </a>
                </li>
                <li class="active">
                    <strong>{{$state.$current.data.pageTitle}}</strong>
                </li>
            </ol>
        </div>
    </div>

    <form class="m-t" role="form" ng-submit="updateCatalog($stateParams.catalog.cat)">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idCatalogName">Name:</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idCatalogName" type="text" name="input" required=""
                       ng-model="$stateParams.catalog.cat.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idCatalogDescription">Description :</label>
            <div class="col-sm-6">
                <input class="input-sm form-control" id="idCatalogDescription" type="text" name="input" required=""
                       ng-model="$stateParams.catalog.cat.description">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idCatalogViews">Catalog Type:</label>
            <div class="col-lg-6">
                <select id="idCatalogViews" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="catalogType">
                    <option>Coins</option>
                    <option>Stamps</option>
                    <option>Baseball Cards</option>
                    <!--<option ng-repeat="range in $localStorage.lookups.rangeGroup">{{range.key}}</option>-->
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idCatalogDates">Timespan:</label>
            <div class="col-md-4">
                <p class="input-group">
                    <input id="idCatalogDates" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtStart" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-disabled="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <p class="input-group">
                    <input id="idCatalogDates" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtEnd" is-open="popupEnd.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-disabled="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Audience : </label>
                    <div class="col-sm-1">
                        <input class="input-sm form-control" type="radio" ng-value="1" required=""
                               ng-model="$stateParams.catalog.cat.audience" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control col-form-label" style="background-color:inherit">Private</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-1">
                        <input class="input-sm form-control" type="radio" ng-value="2" required="" ng-disabled="true"
                               ng-model="$stateParams.catalog.cat.audience" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control col-form-label" style="background-color:inherit">Shared</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-1">
                        <input class="input-sm form-control" type="radio" ng-value="3" required="" ng-disabled="true"
                               ng-model="$stateParams.catalog.cat.audience" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control col-form-label" style="background-color:inherit">Public</label>
                    </div>
                </div>

            </div>
        </div>
        <!--<div class="form-group row">
        <input class="input-sm form-control" id="idCatalogAudience" type="radio" ng-value="1" required=""
               ng-model="$stateParams.catalog.cat.audience">
        <label class="col-md-4 col-form-label" for="idCatalogAudience">
            Private
        </label>
        <br />
        <label class="col-form-label" for="idCatalogAudience2">

            <input class="input-sm form-control" id="idCatalogAudience2" type="radio" ng-value="2" required=""
                   ng-model="$stateParams.catalog.cat.audience">Shared
        </label>
        <br />
        <label class="col-form-label" for="idCatalogAudience3">

            <input class="input-sm form-control" id="idCatalogAudience3" type="radio" ng-value="3" required=""
                   ng-model="$stateParams.catalog.cat.audience">Public
        </label>
        <br />
    </div>-->
        <!--<a ng-repeat="error in errors" style="color:red">* {{error.description}}</a>-->

        <button type="submit" class="btn btn-primary dim">
            <span ng-show="spinUpdateCatalog == 'Saving'">
                <i class="glyphicon glyphicon-refresh spinning"></i>
            </span>
            <span ng-show="spinUpdateCatalog != 'Saving'">
                <i class="glyphicon glyphicon-save"></i>
            </span>
            {{ spinUpdateCatalog }}
        </button>



        <!--<button style="float:right" id="favBtn" ng-click="RemoveCatalog($sessionStorage.catalogCollection);" class="btn btn-danger dim" type="button" tooltip-placement="bottom" uib-tooltip="Delete Catalog">
        <i id="favIcon" class="fa fa-trash"></i>
        Remove
    </button>-->
    </form>
    <p class="m-t"> <small>CC &copy; 2020</small> </p>

</div>


<!--<div class="row">
      <div class="col-lg-9">
          <div class="wrapper wrapper-content animated fadeInRight">
              <h5>$stateParams</h5>
              <pre>{{$stateParams | json}}</pre>
              <h5>$state</h5>
              <pre>{{$state.current | json}}</pre>
              <h5>iSet</h5>
              <pre>{{iSet | json}}</pre>
          </div>
      </div>
  </div>-->
