<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Features</h2>
        <ol class="breadcrumb">
            <li>
                <a sref="dashboards.dashboard_1">Home</a>
            </li>
        </ol>
    </div>
</div>


<div uib-carousel active="0">
    <div uib-slide ng-repeat="slide in slides" index="$index">
        <img ng-src="{{slide.image}}" style="margin: auto;">
        <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
        </div>
    </div>
</div>