<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Widgets</title>
    <style>
        /* Insert your CSS solution here */
    </style>
</head>
<body>
    <div class="main" style="width:300px;margin: auto">
        <div class="widget1" style="width:100px; height:75px; float:left;">Widget1</div>
        <div class="content" style="display: inline">
            Content ... ... ... ... ... ... ... ... ... ... ... ... ...
            ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...
            ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...
            ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...
            ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...
        </div>
        <div class="widget2" style="position:fixed;top:0;right:0;">Widget2</div>
    </div>
</body>
</html>