<div ng-controller="SetCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Set detail</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="..\"> Home </a>
                </li>
                <li class="active">
                    <strong>{{$state.$current.data.pageTitle}}</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <form class="m-t" role="form" ng-submit="UpdateSet(iSet)">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                <!--<button type="submit" class="btn btn-primary dim pull-right">
                    <span ng-show="searchButtonText == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                    {{ searchButtonText }}
                </button>-->
                <button type="button" class="btn btn-success dim pull-left" ng-click="goBack();">
                    <i class="fa fa-arrow-left spinning"></i>
                    Back
                </button>
            </div>
                                <h2>
                                    <strong>
                                        {{iSet.year}} {{iSet.range}} {{iSet.setType}}
                                    </strong>
                                </h2>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="idDescription">Description</label>
                            <div class="col-sm-6">
                                <input class="input-sm form-control" id="idDescription" type="text" name="input" required=""
                                       ng-model="iSet.description">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="idUploadImages">Upload Images:</label>
                            <div class="col-sm-6">
                                <input class="btn btn-primary dim btn-default" id="idUploadImages" type="file" multiple="multiple" ngf-select="uploadFiles($files, iSet)" /> <!--accept="image/*"-->
                                {{file.name}}
                            </div>
                        </div>
                        <div class="form-group row" ng-repeat="(key, item) in iSet.items">
                            <div class="col col-sm-6">
                                <div class="container">
                                    <img class="image" style="max-height:500px; max-width:500px" ng-src="data:{{item.imageIdANavigation.type}};base64,{{item.imageIdANavigation.image}}">
                                    <img ng-if="item.imageIdBNavigation != undefined" class="image overlay" style="max-height:500px; max-width:500px" ng-src="data:{{item.imageIdBNavigation.type}};base64,{{item.imageIdBNavigation.image}}">
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <div>
                                    <div>pos: {{item.position}}</div>
                                    <div>
                                        <span>Item Type:</span>
                                        <select ng-model="item.type" required="">
                                            <option>Set</option>
                                            <option>Box</option>
                                            <option>Coin</option>
                                            <option>Certificate</option>
                                            <option>Mintmark Coin</option>
                                            <option>Extra</option>
                                        </select>
                                    </div>
                                    <div ng-if="item.type == 'Coin'">
                                        Denominator:
                                        <select ng-model="item.denominator">
                                            <option>2½c</option>
                                            <option>5c</option>
                                            <option>10c</option>
                                            <option>20c</option>
                                            <option>50c</option>
                                            <option>R1</option>
                                            <option>R2</option>
                                            <option>R5</option>
                                            <option>R10</option>
                                            <option>R20</option>
                                            <option>R50</option>
                                            <option>R100</option>
                                            <option>R200</option>
                                        </select>
                                    </div>
                                    <br />
                                    <div>
                                        <button ng-click="ImageOrderUp(item.position)" class="btn btn-primary dim btn-default" type="button"><i class="fa fa-chevron-up"></i>Up </button>
                                    </div>
                                    <div>
                                        <button ng-click="ImageOrderDown(item.position)" class="btn btn-primary dim btn-default" type="button"><i class="fa fa-chevron-down"></i>Down </button>
                                    </div>
                                    <div>
                                        <button ng-click="Delete(item.position)" class="btn btn-danger dim btn-default" type="button"><i class="fa fa-trash"></i>Remove</button>
                                    </div>
                                    <br />
                                    <div ng-if="item.imageIdBNavigation == undefined">
                                        Upload Reverse :
                                        <input type="file" ngf-select="uploadReverse($file, item)" class="btn btn-primary dim btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="idYear">Year:</label>
                            <div class="col-md-4">
                                <p class="input-group">
                                    <input id="idYear" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="iSet.date" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="idRange">Range:</label>
                            <div class="col-lg-6">
                                <!-- Multiselect dropdown -->
                                <select id="idRange" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="iSet.range" data-container="body" data-size="6" data-selected-text-format="count>2" data-actions-box="true" ng-required="true">
                                    <option ng-repeat="range in $localStorage.lookups.rangeGroup">{{range.key}}</option>
                                </select><!-- End -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="idSetType">Set Type:</label>
                            <div class="col-lg-6">
                                <!-- Multiselect dropdown -->
                                <select title="Type" id="idSetType" data-style="bg-black rounded-pill" class="form-control input-sm selectpicker" ng-model="iSet.setType" ng-change="filterTypeChange($sessionStorage.filterbySetTypes)" data-container="body" data-size="6" data-selected-text-format="count>2" data-actions-box="true">
                                    <option ng-repeat="type in $localStorage.lookups.typeGroup">{{type.key}}</option>
                                </select><!-- End -->
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary dim">
                            <span ng-show="searchButtonText == 'Saving'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                            {{ searchButtonText }} Set
                        </button>
                        <button ng-click="DeleteSet(iSet)" class="btn btn-danger dim btn-default" type="button"><i class="fa fa-trash"></i>Remove Set</button>
                    </form>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>Project description</h4>
                <img src="img/zender_logo.png" class="img-responsive">

                <p class="small">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                    even slightly believable.If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                </p>

                <p class="small font-bold">
                    <span><i class="fa fa-circle text-warning"></i> High priority</span>
                </p>
                <h5>Project tag</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="">< i class="fa fa-tag"></i> Zender</a></li>
                    <li><a href="">< i class="fa fa-tag"></i> Lorem ipsum</a></li>
                    <li><a href="">< i class="fa fa-tag"></i> Passages</a></li>
                    <li><a href="">< i class="fa fa-tag"></i> Variations</a></li>
                </ul>
                <h5>Project files</h5>
                <ul class="list-unstyled project-files">
                    <li><a href="">< i class="fa fa-file"></i> Project_document.docx</a></li>
                    <li><a href="">< i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
                    <li><a href="">< i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                    <li><a href="">< i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
                </ul>
                <div class="text-center m-t-md">
                    <a href="" class="btn btn-xs btn-primary">Add files</a>
                    <a href="" class="btn btn-xs btn-primary">Report contact</a>

                </div>
            </div>
        </div>-->

    </div>
    <!--<div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <h5>params</h5>
                          <pre>{{$stateParams | json}}</pre>
                          <h5>state</h5>
                          <pre>{{$state.current | json}}</pre>
                <pre>{{$scope | json}}</pre>
            </div>
            </div>
        </div>-->
</div>
