<div ng-controller="SetsNgCtrl">
    <div class="row wrapper bSet-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Set list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Sets list</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>All Sets assigned to this account</h5>
                            <div class="ibox-tools">
                                <a ng-click="createSet(undefined)" class="btn btn-primary btn-xs">New Set</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="myForm" ng-submit="">
        <table id="ng-grid" class="table table-striped table-bSeted table-hover">
            <thead>
                <tr>
                    <th>Images</th>
                    <!--<th>Id</th>-->
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(setidx,set) in iColSets.data">
                    <td width="50%">
                        <div ng-repeat="(itemidx, item)  in set.items" ng-if="item.isActive == true">
                            <div ng-if="itemidx === 0" class="SetContainer">
                                <img ng-click="selectSet($event, setidx)" style="margin-right : 25px;border:2px solid grey" ng-src="data:{{item.type}};base64,{{item.thumbnail}}" />
                                <span class="ItemCheckbox" style="padding-bottom : 18px;">{{item.userItems[0].quantity}}</span>
                                <a href="" ng-click="SelectItem($event, setidx, itemidx , 1)" type="button" class="ItemCheckbox"><i class="fa fa-plus" style="padding-bottom:35px;font-size:16px;color:green"></i></a>
                                <a href="" ng-click="SelectItem($event, setidx, itemidx , -1)" type="button" class="ItemCheckbox"><i class="fa fa-minus" style="font-size:16px;color:red"></i></a>
                            </div>
                            <div ng-if="itemidx !== 0" class="SetContainer">
                                <img style="width:80%;height:80%;border:2px solid grey" ng-src="data:{{item.type}};base64,{{item.thumbnail}}" />
                                <span class="ItemCheckbox" style="padding-bottom : 18px;">{{item.userItems[0].quantity}}</span>
                                <a href="" ng-click="SelectItem($event, setidx, itemidx , 1)" type="button" class="ItemCheckbox"><i class="fa fa-caret-up" style="padding-bottom:30px;font-size:24px;color:green"></i></a>
                                <a href="" ng-click="SelectItem($event, setidx, itemidx , -1)" type="button" class="ItemCheckbox"><i class="fa fa-caret-down" style="font-size:24px;color:red"></i></a>
                            </div>
                        </div>
                    </td>

                    <!--<td>{{set.setId}}</td>-->
                    <td>
                        <a href="" ng-click="selectSet($event,setidx)">{{set.description}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


    <!--<h5>params</h5>
    <pre>{{$stateParams | json}}</pre>
    <h5>state</h5>
    <pre>{{$state.current | json}}</pre>-->
</div>
