<div ng-controller="SetCtrl">
    <div class="row wrapper bSet-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Set list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Sets list</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>All Sets assigned to this account</h5>
                            <div class="ibox-tools">
                                <a ng-click="loadSet(undefined)" class="btn btn-primary btn-xs">New Set</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<h5>params</h5>
    <pre>{{$stateParams | json}}</pre>
    <h5>state</h5>
    <pre>{{$state.current | json}}</pre>-->
    <form name="myForm" ng-submit="">
        <table id="entry-grid" datatable="" dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstanceCallback" class="table table-striped table-bSeted table-hover"></table>
    </form>
    <!-- Need to replace this partial ng-include trick with shared service and localStorage : https://stackoverflow.com/questions/22408790/angularjs-passing-data-between-pages-->
    <!--<div ng-include="'Views/Sets_edit.html'"></div>-->
</div>
