USE [Northwind]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 30-Dec-19 9:20:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[CoinId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NULL,
	[CoinCode] [varchar](50) NULL,
	[Weight] [float] NULL,
	[Denomination] [varchar](50) NULL,
	[ImageHeads] [image] NULL,
	[ImageTail] [image] NULL,
	[UseImage] [bit] NULL,
	[SetId] [int] NULL,
 CONSTRAINT [PK_Coins] PRIMARY KEY CLUSTERED 
(
	[CoinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sets]    Script Date: 30-Dec-19 9:20:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sets](
	[SetId] [int] IDENTITY(1,1) NOT NULL,
	[CoinId] [int] NULL,
	[ImageId] [int] NULL,
	[Year] [varchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Date] [date] NULL,
	[Range] [varchar](50) NULL,
	[CatCode] [varchar](50) NULL,
 CONSTRAINT [PK_SAGCHeadings] PRIMARY KEY CLUSTERED 
(
	[SetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coins] ON 

INSERT [dbo].[Coins] ([CoinId], [Description], [CoinCode], [Weight], [Denomination], [ImageHeads], [ImageTail], [UseImage], [SetId]) VALUES (1, N'1987 Protea Silver R1
', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Coins] OFF
SET IDENTITY_INSERT [dbo].[Sets] ON 

INSERT [dbo].[Sets] ([SetId], [CoinId], [ImageId], [Year], [Description], [Date], [Range], [CatCode]) VALUES (1, NULL, NULL, N'1987', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sets] ([SetId], [CoinId], [ImageId], [Year], [Description], [Date], [Range], [CatCode]) VALUES (2, NULL, NULL, N'1987', N'Protea Silver R1', NULL, NULL, NULL)
INSERT [dbo].[Sets] ([SetId], [CoinId], [ImageId], [Year], [Description], [Date], [Range], [CatCode]) VALUES (3, NULL, NULL, N'1987', N'Krugerrand T Oz + Q Oz', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Sets] OFF
ALTER TABLE [dbo].[Coins]  WITH CHECK ADD  CONSTRAINT [FK_Coins_Sets] FOREIGN KEY([SetId])
REFERENCES [dbo].[Sets] ([SetId])
GO
ALTER TABLE [dbo].[Coins] CHECK CONSTRAINT [FK_Coins_Sets]
GO
